.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body {
    background-color: #f7efef;
}

.navbar-inner {
    background-color: #e6cdcd;
}

.thumbnail {
    background-color: #be7e7e;
}

.header-placeholder {
    height: 50px;
}

.main {
    padding: 30px;
}

.animeList {
    padding-top: 30px;
    padding-bottom: 30px;
}

.labelGenre {
    padding-right: 5px;
}

.checkboxGenre {
    margin: 5px;
}

.drop-box {
	background: #F8F8F8;
	border: 4px dashed #DDD;
	width: 100%;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	float: left;
}

.drop-box.dragover {
	border: 5px dashed blue;
}

.drop-box.dragover-err {
	border: 5px dashed red;
}