<!DOCTYPE html>
<html lang="en" ng-app="yawlApp">

<head>
    <meta charset="utf-8">
    <!--base href="/"-->
    <title>Yet Another Watch List</title>
    <!--link rel="stylesheet" href="css/base.css"
        /-->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/base.css" type="text/css" media="all" />
</head>

<body>
    <header class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3" ng-click="isCollapsed = !isCollapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand visible-xs" href="#">Yawl</a>
                </div>
                <nav class="hidden-xs">
                    <ul class="nav navbar-nav">
                        <a href="#top" role="button" class="navbar-brand">
                        Yet Another Watch List
                    </a>
                        <li>
                            <a href="#/animes">List</a>
                        </li>
                        <li>
                            <a href="#/animes/create">Create</a>
                        </li>
                    </ul>
                </nav>
                <nav class="visible-xs collapse" collapse="!isCollapsed" style="height: 0px;">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#getting_started" ng-click="isCollapsed = !isCollapsed">Getting started</a>
                        </li>
                        <li>
                            <a href="#directives_small" ng-click="isCollapsed = !isCollapsed">Directives</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div class="header-placeholder"></div>
    <div class="main container-fluid" ng-view></div>
    </div>

    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/jquery-bridget/jquery.bridget.js"></script>
    <script src="bower_components/get-style-property/get-style-property.js"></script>
    <script src="bower_components/get-size/get-size.js"></script>
    <script src="bower_components/eventEmitter/EventEmitter.js"></script>
    <script src="bower_components/eventie/eventie.js"></script>
    <script src="bower_components/doc-ready/doc-ready.js"></script>
    <script src="bower_components/matches-selector/matches-selector.js"></script>
    <script src="bower_components/outlayer/item.js"></script>
    <script src="bower_components/outlayer/outlayer.js"></script>
    <script src="bower_components/masonry/masonry.js"></script>
    <script src="bower_components/imagesloaded/imagesloaded.js"></script>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>

    <script src="bower_components/ng-file-upload/angular-file-upload.min.js"></script>
    <script src="bower_components/ngFileReader/src/ngFileReader.min.js"></script>
    <script src="bower_components/ng-imgur/dist/ng-imgur.min.js"></script>
    <script src="http://vitalets.github.io/checklist-model/checklist-model.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/angular-masonry/angular-masonry.js"></script>

    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="js/filters.js"></script>
</body>

</html>