<div class="thumbnail">
    <img src="http://placehold.it/321x500" alt="placehold.it">
    <div class="caption">
        <h3>{{anime.title}}</h3>
        <p class="text-left">{{anime.synopsis}}
        </p>
        <p>
            <a type="button" class="btn btn-info" ng-href="#/animes/edit/{{anime.identifier}}">Edit</a>
            <button type="button" class="btn btn-danger" ng-click="deleteAnime(anime._id)">Delete</button>
        </p>
    </div>
</div>