<form class="form-horizontal col-sm-6" role="form" name="formCreateAnime">
    <div class="form-group">
        <label for="inputIdentifier" class="col-sm-2 control-label">Identifier</label>
        <div class="col-sm-10">
            <input readonly type="text" class="form-control" id="inputIdentifier"
            placeholder="Generated from title" ng-model="anime.identifier">
        </div>
    </div>
    <div class="form-group has-success" ng-class="{'has-error': formCreateAnime.title.$error.required}">
        <label for="inputTitle" class="col-sm-2 control-label">Title</label>
        <div class="col-sm-10">
            <input name="title" type="text" class="form-control" id="inputTitle" placeholder="Anime name"
            ng-model="anime.title" required>
        </div>
    </div>
    <div class="form-group">
        <label for="inputSynopsis" class="col-sm-2 control-label">Synopsis</label>
        <div class="col-sm-10">
            <textarea id="inputSynopsis" class="form-control" rows="4" placeholder="Anime synopsis"
            ng-model="anime.synopsis"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="inputStatus" class="col-sm-2 control-label">Status</label>
        <div class="col-sm-10">
            <select class="form-control" id="inputStatus" ng-model="anime.status" ng-options="status.name for status in allowedStatus"></select>
        </div>
    </div>
    <div class="form-group">
        <label for="inputGenres" class="col-sm-2 control-label">Genres</label>
        <div class="col-sm-10">
            <label class="labelGenre" ng-repeat="genre in availableGenres">
                <span class="checkboxGenre"><input class="checkboxGenre" type="checkbox" checklist-model="anime.genres" checklist-value="genre">{{genre}}</label>
        </div>
    </div>
    <div class="form-group has-success" ng-class="{'has-error': formCreateAnime.episodes.$error.min || formCreateAnime.episodes.$error.required || formCreateAnime.episodes.$error.number || anime.episodes === null}">
        <label for="inputEpisodes" class="col-sm-2 control-label">Episodes</label>
        <div class="col-sm-10">
            <input name="episodes" type="number" min="0" class="form-control" id="inputEpisodes"
            placeholder="Number of episodes" ng-model="anime.episodes">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-default" ng-click="editAnime()">Edit anime</button>
            
        </div>
    </div>
</form>
<div class="col-sm-6">
    <pre>{{anime | json}}</pre>
    <div class="alert {{alert.type}} alert-dismissible" role="alert" ng-repeat="alert in alerts">
        <button type="button" class="close" ng-click="closeAlert($index)">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <span ng-bind-html='deliberatelyTrustDangerousSnippet(alert.msg)'></span>
    </div>
</div>
