<div class="row">
    <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
            <input type="text" class="form-control" ng-model="animeSearch" placeholder="Filter out animes">
        </div>
    </div>
    <div class="col-md-6">
        <div class="input-group">
            <span class="input-group-btn">
                <a class="btn btn-default" ng-href="#/animes/create/{{animeCreate}}"><span class="glyphicon glyphicon-plus"></span></a>
            </span>
            <input type="text" class="form-control" ng-model="animeCreate" placeholder="Add your own anime">
        </div>
    </div>
</div>
<div class="row">
    <div class="animeList"></div>
    
    <div masonry>
        <div class="masonry-brick col-lg-2 col-md-3 col-sm-4 col-xs-12" ng-repeat="anime in animes | filter:animeSearch track by anime.title">
            <div class="thumbnail">
                <img src="http://placehold.it/160x250" alt="placehold.it">
                <div class="caption">
                    <h3>{{anime.title}}</h3>
                    <p class="text-left">{{anime.synopsis | animeSumCut}}...
                        <a ng-href="#/animes/details/{{anime.identifier}}">read more</a>
                    </p>
                    <p>
                        <a type="button" class="btn btn-info" ng-href="#/animes/edit/{{anime.identifier}}">
                        Edit
                    </a>
                        <button type="button" class="btn btn-danger" ng-click="deleteAnime(anime._id)">Delete</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <!--ul id="isotopeContainer" isotope-container ng-cloak class="ng-cloak list-unstyled">
        <li class="col-lg-2 col-md-3 col-sm-4 col-xs-6" ng-repeat="anime in animes | filter:animeSearch track by anime.title" isotope-item>
            <div class="thumbnail">
                <img src="http://placehold.it/160x250" alt="placehold.it">
                <div class="caption">
                    <h3>{{anime.title}}</h3>
                    <p class="text-left">{{anime.synopsis | animeSumCut}}...
                        <a ng-href="#/animes/details/{{anime.identifier}}">read more</a>
                    </p>
                    <p>
                        <a type="button" class="btn btn-info" ng-href="#/animes/edit/{{anime.identifier}}">
                        Edit
                    </a>
                        <button type="button" class="btn btn-danger" ng-click="deleteAnime(anime._id)">Delete</button>
                    </p>
                </div>
            </div>
        </li>
    </ul-->
</div>
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <div class="alert {{alert.type}} alert-dismissible" role="alert" ng-repeat="alert in alerts">
        <button type="button" class="close" ng-click="closeAlert($index)">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <span ng-bind-html='deliberatelyTrustDangerousSnippet(alert.msg)'></span>
    </div>
</nav>